<%- include('partials/headAndNav', { pageName: "Chill" , otherStyleSheet: "/styles/chill.css" }) %>

    ?autoplay=1
    <iframe id="ginuwine" width="560" height="315" src="https://www.youtube.com/embed/FVaVydg28Qk?autoplay=1"
        title="YouTube video player" frameborder="0"
        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
        allowfullscreen autoplay></iframe>

    <div id="candles"><iframe src="https://gifer.com/embed/3Dla" width="100%" height="100%"
            style='position:absolute;top:0;left:0;' frameBorder="0" allowFullScreen></iframe>
    </div>
    </body>