<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <% if(typeof otherStyleSheet !=='undefined' ) { %>
        <link rel="stylesheet" href=<%=otherStyleSheet %>>
        <% } else { %>
            <link rel="stylesheet" href="/styles/main.css">
            <% } %>
                <% if(typeof pageName==='undefined' ) { %>
                    <title>NETBUSTER!</title>
                    <% } else { %>
                        <title>NETBUSTER | <%= pageName %>
                        </title>
                        <% } %>
</head>

<body>
    
    <div class="displays">
      
        <div class="leftDiv">
        <img src="https://i.imgur.com/skKx9fe.png" alt="movie banner" id="banner1">
        </div>
       
      <div class="midDiv">
        <img src="https://imgur.com/2w3a5Fu.png" alt="Netbuster Logo" id="logo">
        <h1 class="slogan">Be Kind, Unwind</h1>

        <!-- I want to reformat these to link to the sign-in and sign-up pages, just playing with navigability -->
        <form action="user/signinpage" method="GET">
            <button class="btn" id="signin">Sign In</button>
        </form>
        <form action="user/signuppage" method="GET">
            <button class="btn" id="signup">Sign Up</button>
        </form>

        <h2 class="features" id="tvshows">TV Shows</h2>
        <h2 class="features" id="movies">Movies</h2>
        <h2 class="features" id="games">Games</h2>
        <h2 class="features" id="more">& More!</h2>
        <img src="https://i.imgur.com/6RKupTu.png" alt="Red Carpet" id="redCarpet">
    </div>

    <div class="rightDiv">
        <img src="https://i.imgur.com/nYMiZlz.png" alt="movie banner 2" id="banner2">
      </div>

    </div>
    
</body>

</html>