<%- include('./partials/headAndNav', {pageName: "Home page"}) %>
<link rel="stylesheet" href="/public/main.css">
<div class="displays">
<img src="https://i.imgur.com/skKx9fe.png" alt="movie banner" id="banner1">
<img src="https://imgur.com/2w3a5Fu.png" alt="Netbuster Logo" id="logo">
<img src="https://i.imgur.com/nYMiZlz.png" alt="movie banner 2" id="banner2">
</div>
    <h1>Be Kind, Unwind</h1>
    <img src="https://i.imgur.com/6RKupTu.png" alt="Red Carpet" id="redCarpet">
