<%- include('../partials/headAndNav', {pageName: "My Stuff" }) %>
    <h2>Liked Movies</h2>
    <div>
        <% for (let i=0; i < user.myMovies.length; i++) { %>

    </div>

    <h2>Liked Shows</h2>