<%- include('../partials/headAndNav', {pageName: "Home page" }) %>
    <h1>NETBUSTER - Media Index Route (library of movies and shows)</h1>
    <h3>Be kind, Unwind</h3>

    <h4><a href="/home/tv/show">A show</a></h4>
    <h4><a href="/home/tv/show">Another show</a></h4>
    <h4><a href="/home/tv/show">Yet one more</a></h4>
    </body>

    </html>