body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    background-color: darkblue;
    color: white;
    background: linear-gradient(45deg, black 0%, rgb(0, 0, 62) 35%, rgb(0, 0, 151) 100%);
    /* height: 100%;
    width: 100%;
    background-size: 500% 500%;
    background: linear-gradient(45deg, #000a52,#001add,#ceb300);
    -webkit-animation: color 12s ease-in-out infinite linear;
}
@-webkit-keyframes color{
    0%{
        background-position: 0 0;
    }
    100%{
        background-position: 100% 0;
    } */
}

.wrapper {
    position: absolute;
    width: 100%;
    height: 100%;
    overflow: hidden;

}

.box div {
    position: absolute;
    width: 60px;
    height: 60px;
    background-color: transparent;
    border: 6px solid gold;
}

.box div:nth-child(1) {
    top: 12%;
    left: 42%;
    animation: animate 10s linear infinite;
}

.box div:nth-child(2) {
    top: 70%;
    left: 50%;
    animation: animate 10s linear infinite;
}

.box div:nth-child(3) {
    top: 17%;
    left: 6%;
    animation: animate 9s linear infinite;
}

.box div:nth-child(4) {
    top: 20%;
    left: 60%;
    animation: animate 10s linear infinite;
}

.box div:nth-child(5) {
    top: 67%;
    left: 10%;
    animation: animate 6s linear infinite;
}

.box div:nth-child(6) {
    top: 80%;
    left: 70%;
    animation: animate 12s linear infinite;
}

.box div:nth-child(7) {
    top: 60%;
    left: 80%;
    animation: animate 15s linear infinite;
}

.box div:nth-child(8) {
    top: 32%;
    left: 25%;
    animation: animate 16s linear infinite;
}

.box div:nth-child(9) {
    top: 90%;
    left: 25%;
    animation: animate 9s linear infinite;
}

.box div:nth-child(10) {
    top: 20%;
    left: 80%;
    animation: animate 5s linear infinite;
}

@keyframes animate {
    0% {
        transform: scale(0) translateY(0) rotate(0);
        opacity: 1;
    }

    100% {
        transform: scale(1.3) translateY(-90px) rotate(360deg);
        opacity: 0;
    }
}

#bar {
    color: gold;
    position: relative;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
}

#bar:before,
#bar:after {
    content: '';
    /* position: absolute; */
    z-index: -1;
    box-shadow: 0 0 40px rgba(0, 0, 0, 0.8);
    top: 50%;
    bottom: 0;
    left: 10px;
    right: 10px;
    border-radius: 100px / 10px;
}

.dropdown-item {
    text-shadow: none;
    font-weight: 800;

}
.dropdown-menu {
    margin-left: 46%;
}

#userdrop{
    margin-left: 70.5%;
}

nav {
    z-index: 9;
}

h1 {
    position: absolute;
    font-size: 2.5rem;
    margin-left: 50%;
    margin-top: 5%;
    text-transform: uppercase;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-shadow: 1px 1px 1px black,
        1px 2px 1px black,
        1px 3px 1px black,
        1px 4px 1px black,
        1px 5px 1px black,
        1px 6px 1px black,
        1px 7px 1px black,
        1px 8px 1px black,
        1px 9px 1px black,
        1px 10px 1px black,
        1px 18px 6px rgba(16, 16, 16, 0.4),
        1px 22px 10px rgba(16, 16, 16, 0.2),
        1px 25px 35px rgba(16, 16, 16, 0.2),
        1px 30px 60px rgba(16, 16, 16, 0.4);
}

#browse:hover {
    background: blue;
    transition: .6s;
}

#userprofile:hover {
    background: blue;
    transition: .6s;

}

#homebtn:hover {
    background: blue;
    transition: .6s;

}

#loginbtn:hover {
    background: blue;
    transition: .6s;

}

#signupbtn:hover {
    background: blue;
    transition: .6s;

}

#pagebox {
    align-items: flex-end;
    position: absolute;
    display: flex;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    /* background-color: red; */
}

#showbox {
    display: flex;
    position: relative;
    justify-content: space-between;
    width: 100%;
    bottom: 0%;
    height: 78%;
    left: 0%;
    /* background-color: black; */
}

#iframe {
    position: relative;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    width: 70%;
    height: auto;
    /* background-color: pink; */
}

.youtb {
    height: 100%;
    width: 100%;
    position: relative;
    border: 5px solid goldenrod;
}

.showd {
    font-size: 1.5em;
    position: relative;
    /* background-color: black; */
}

.pos {
    /* display: flex; */
    position: relative;
    margin-left: 0%;
    margin-top: 0%;
}

nav {
    z-index: 9;
}

.pos img {
    /* display: flex; */
    margin-top: 0%;
    margin-left: 0%;
    width: auto;
    height: 100%;
}